/* h1 {
    background-color: aqua;
    color: hsla(0, 1%, 70%, 0.3);
    opacity: 0.2; 
} */

@font-face {
    font-family: 'batch11';
    src: url('fonts/Lemon/Lemon-Regular.ttf');
}

body{
    /* font-size: 10px;  */
    /* 100% */
}
p{
    font-family: 'batch11';
    /* font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em; */
    /* font-size: x-large; */
    /* font-family: sans-serif;
    font-family: monospace; */
}


